<div class="footer">
    <ul class="links">
      <li class="github"><a href="https://github.com/AlexMasonAM" target="blank">github</a></li>
      <li class="linkedin"><a href="https://www.linkedin.com/in/alexmasonAM" target="blank">linkedin</a></li>
      <li class="twitter"><a href="https://twitter.com/alexmasonAM" target="blank">twitter</a></li>
      <li class="ga"><a href="https://generalassemb.ly/" target="blank">general assembly</a></li>
      <li class="email"><a href="mailto:alexmmason@gmail.com">email</a></li>
    </ul>
</div>