<div class="header">
  <ul class="skills left">        
    <li>
      <%= link_to 'alex mason', root_path %>
    </li>
  </ul>
  <ul class="skills right">
    <li>
      <%= link_to 'portfolio', projects_path %>
    </li>
    <li>
      <%= link_to 'design', designs_path %>
    </li>
    <li>
      <%= link_to 'interests', interests_path %>
    </li>
  </ul>
</div>