<div class="current-interests">
  <div class="pull-left">
   <p class="headshoot"><%= image_tag "AlexMasonAM-headshot-01.jpg"%></p>
  </div> 
  <h1>current interests</h1>
  <div class="repeat">
    <p>chocolate</p>
    <p>travel</p>
    <p>soccer</p>
  </div>  
</div>