<div class="current-interests">
<!--   <div >
   <p class="headshoot"><%= image_tag "AlexMasonAM-headshot-01.jpg"%></p>
  </div> -->
  <div class="pull-right-interests"> 
    <p class="headshoot"><%= image_tag "AlexMasonAM-headshot-01.jpg"%></p>
    <div class="font-normal">
      <h1 class="font-primary font-large about-me ">ABOUT ME</h1>
      <p class="font-primary font-medium about-me-subtitle">Junior Web Developer</p>
      <p class="font-primary list-me about-me">Recovering Architect. Passionate Learner. Chocolatier. Accomplished Designer. Philadelphia Fanatic. Resourceful Problem-Solver. Wheel of Fortune Winner. World Traveller. Intramural Soccer Champion. Enthusiastic Collaborator. Professional Smiler.</p>
    </div>  
  </div>    
</div>