<div class="web-dev-projects">
  <!-- <h1>WORK</h1> -->
  <!-- <p class="headshoot"><%= image_tag "AlexMasonAM-headshot-01.jpg"%></p> -->
  <div class="pull-left">
    <div class="repeat-projects">
      <p>project 1</p>
      <p>project 2</p>
      <p>project 3</p>
      <p>project 4</p>
    </div>
  </div>  
</div>