<div class="web-dev-projects">
  <!-- <h1>WORK</h1> -->
  <!-- <p class="headshoot"><%= image_tag "AlexMasonAM-headshot-01.jpg"%></p> -->
  <div>
    <div class="repeat-projects">
      <a href="file:///Users/AlexMason/Desktop/WDI-break/RoChamBeau/index.html" target="blank">
        <p class="project-image-01"></p>
      </a>
      <a href="http://mighty-shore-7660.herokuapp.com/" target="blank">
        <p class="project-image-02">
        </p>
      </a>  
      <a href="https://truckhunt.herokuapp.com/#/" target="blank">
        <p class="project-image-03"></p>
      </a>  
      <a href="https://be-marvel-us.herokuapp.com/#/" target="blank">
        <p class="project-image-04"></p>
      </a>
    </div>
  </div>  
</div>

<!--  <p class="project-image-01">FULL STACK PRO:tic tac toe for developers</p> -->
<!--  <p class="project-image-02">Flip House:a visual calculator</p> -->
<!--  <p class="project-image-03"> Truck Hunt:the food truck stops here </p> -->
<!--  <p class="project-image-04">BeMarvel.us:who's your superhero</p> -->