$color-primary: white;
$color-secondary: rgba(255,255,255,0.8);
// $color-secondary: rgb(244, 30, 18);
$color-tertiary: black;
$color-quaterary: darkgrey;


$project-image-01: "project-01-03.png";
$project-image-02: "project-02-02.png";
$project-image-03: "project-03-02.png";
$project-image-04: "project-04-02.png";
// $image-background: "blueprint-01.png";
// $about-me-background: "gradient-01.png";
// $marvel-image-background: "marvel-image-storm-01.png";
// $marvel-image-background: "iron-man-01.png";