$color-primary: white;
$color-secondary: rgba(255,255,255,0.8);
// $color-secondary: rgb(244, 30, 18);
$color-tertiary: black;
$color-quaterary: darkgrey;

$image-background: "blueprint-01.png";
$about-me-background: "gradient-01.png";
// $marvel-image-background: "marvel-image-storm-01.png";
// $marvel-image-background: "iron-man-01.png";