/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header {
  padding:  0;
  background-color: grey;
  /*right:  0px;*/
  font-size: 1.25em;
}
.jumbotron {
  font-size: 1.75em;
}

.footer {
  margin: 0 auto;
  display: inline-block;
  text-decoration: none;
  font-size: 1.25em; 
}
body {
  font-family: sans-serif;
  background: #2094ca;
}
ul li {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  padding: .25em;
} 
.skills li a{
  text-decoration: none;
}
.design_philosophy {
  width: 65%;
  color: lightgrey;
  display: block;
  text-decoration: none;
  font-size: 4em;
  margin: .5em auto;
  text-align: left;
  line-height: .9em;
} 

.pull-right {
  margin-top: -1em;
  font-style: italic;
  text-align: right;
}

.container {
  width: 100%;
  text-align: center;
  display: block;
  margin: auto;
}
.full-width {
  padding: 0;
  margin: 0;
}

.repeat p {
  text-align: center;
  display: inline-block;
  background-color: white;
  margin: 1em; 
  width: 15em; 
  height: 15em;
}

.left {
  display: inline-block;
  position: relative;
  left: 0px;
  text-align: left;
}

.right {
  display: inline-block;
  position: relative;
  right: 10px;
  text-align: right;
}
.headshoot {
  border-radius: 30em;
}
.background-header {
  width: 100%;
  height: 600px;
}
.background-blue {
  width: 100%;
  height: 600px;
  background-color: #2094ca;
  background-image: image-url("AlexMasonAM-headshot-03");
  margin: 0 auto;
}
.background-white {
  width: 100%;
  height: 600px;
  background-color: white;
  margin: 0 auto;
}