<div class="container">
  <div class="jumbotron">
    <!-- <h1 class="font-primary font-large">ALEX M MASON</h1> -->
    <h1 class="font-primary font-large"><%= link_to 'ALEX M MASON', interests_path %></h1>
    <!-- <h1>alex m mason</h1> -->
  </div>
<!--   <div class="center-text">
    <ul class="skills">
      <li>
        <%= link_to 'web developer', projects_path %>
      </li>
      <li>
        <%= link_to 'design professional', skills_path %>
      </li>
      <li>
        <%= link_to 'chocolate enthuasist', interests_path %>
      </li>
    </ul>
  </div> -->
  <div class="design_philosophy font-primary font-left">
    <p>I love to make things that people want to use.  Building on my experience in Architecture and Marketing, I craft web applications that connect with users through clean design and clear functionality to create engaging experiences.</p>
<!--  <p>I love to make things that people cannot resist using.  Building on my experience in Architecture and Marketing, I craft web applications that connect with users through clean design and clear functionality to create engaging experiences.</p>  -->
 <!--     <p>I love to make things that people want to use.  Building on my experience in Architecture and Marketing, I craft web applications that connect with users through clean design & clear functionality to create engaging experiences.</p>
    
 <!-- <p>I love to build things that people enjoy. As an architect, I designed bars and restaurants. As a marketing professional, I cultivated experiences that made lasting impressions. As a Web Developer, I craft web applications that connect with users through clean design and clear functionality.</p> -->
    <!-- <p>everything should be as simple as it can be, but not simpler.</p> -->
    <!-- <p class="pull-right">--a.e.</p> -->
  </div>

<!-- FOR SINGLE PAGE ANGULAR APP  -->

<!--   <div class="section-portfolio center-text">
    <div class="background-white">
    </div>
  </div> 
  <div class="section-about center-text">
    <div class="background-blue">
    </div>
  </div> 
  <div class="section-contact center-text">
    <div class="background-white">
    </div>
  </div>  -->
</div>